@(title: String, siteId: Long, widgetIdsList: List[Long])
@import views.html.sites.widgets._
@import models.widgets._
@import controllers._
@views.html.sites.index(title){
<!-- nav -->
<div class="container">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				@navigation(siteId)
			</div>
			<div class="span10">
				@if(widgetIdsList.length >= 1) {
					@Widgets.getTheWidget(widgetIdsList(3))
				}
				<div class="row-fluid">
					<div class="span12">
					@if(widgetIdsList.length >= 2) {
						@Widgets.getTheWidget(widgetIdsList(0))
					}
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
					@if(widgetIdsList.length >= 3) {
						@Widgets.getTheWidget(widgetIdsList(1))
					}
					</div>
					<div class="span6">
					@if(widgetIdsList.length >= 4) {
						@Widgets.getTheWidget(widgetIdsList(2))
					}
					</div>
				</div>
			</div>
		</div>
		<hr>
		<footer>
			<p>&copy; site.siteName 2013</p>
		</footer>
	</div>
</div>
}