@(title: String, widgetIdsList: List[Long])
@import views.html.sites.widgets._
@import models.widgets._
@import controllers._
@views.html.sites.index(title){
<!-- nav -->
<div class="container">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header"></li>
						<li><a href="/">Home</a></li>
						<li><a href="/our_church">Our Church</a></li>
						<li><a href="#">Audio</a></li>
						<li><a href="#">Ministries</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="/our_church/directions">Directions</a></li>
					</ul>
				</div>
			</div>
			<div class="span10">
				@(carouselWidget(List(CarouselImage("/assets/images/visit-grace.png","Visit Grace",""),CarouselImage("/assets/images/titus-building-healthy-churches.png","Titus: Building Healthy Churches","Sunday morning sermon series by Pastor Rhett Dodson"))))
				<div class="row-fluid">
					<div class="span12">
					@Widgets.getTheWidget(widgetIdsList(0))
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
					@Widgets.getTheWidget(widgetIdsList(1))
					</div>
					<div class="span6">
					@Widgets.getTheWidget(widgetIdsList(2))
					</div>
				</div>
			</div>
		</div>
		<hr>
		<footer>
			<p>&copy; site.siteName 2013</p>
		</footer>
	</div>
</div>
}