body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.roomForHeader {
	padding-top: 60px;
	padding-bottom: 40px;
}

.navbar-row-editor {
	background-color: rgba(0,0,0,0.0);
}

.sidebar-nav {
	padding: 9px 0;
}
