@(siteName: String)
@main("Admin Home") {
@loggedInNavBar(siteName)
<div class="container roomForHeader">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header"></li>
						<li><a href="#sites">Sites</a></li>
						<li><a href="#pages">Pages</a></li>
						<li><a href="#page-widgets">Page widgets</a></li>
					</ul>
				</div>
			</div>
			<div class="span10">
				<div class="row-fluid" id="sites">
					<div class="span12">
						<div class="page-header">
							<h1>Sites</h1>&nbsp;<a href="#">New</a>
						</div>
						<p>
							<select data-bind="options: siteList,
												optionsText: 'siteName',
												value: currentSite,
												optionsCaption: 'Choose a site...'">
							</select>
						</p>
						<p data-bind="if:currentSite">Info about <span data-bind="text:currentSite().siteName"></p>
						<hr>
					</div>
				</div>
				<section class="row-fluid" id="pages">
					<div class="span12">
						<div class="page-header">
							<h1>Pages</h1>&nbsp;<a href="#">New</a>
						</div>
						<p>
							<select data-bind="options: pageList,
												optionsText: 'title',
												value: currentPage,
												optionsCaption: 'Choose a page...'">
							</select>
						</p>
						<p data-bind="if:currentPage">Info about <span data-bind="text:currentPage().title"></span></p>
						<hr>
					</div>
				</section>
				<section class="row-fluid" id="page-widgets">
					<div class="span12">
						<div class="page-header">
							<h1>Page widgets</h1>&nbsp;<a href="#">New</a>
						</div>
						<p>
							<select data-bind="options: widgetList,
												optionsText: 'id',
												value: currentWidget,
												optionsCaption: 'Choose a widget...'">
							</select>
						</p>
						<p data-bind="if:currentWidget"><span data-bind="text:currentWidget().id"></span></p>
						<hr>
					</div>
				</section>
			</div>
		</div>
		<hr>
		<footer>
			<p></p>
		</footer>
	</div>
</div>
}
<script type="text/javascript" src="@routes.Assets.at("javascripts/knockout/knockout-2.2.1.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/admin/admin.js")"></script>
