@(siteName: String)
@main("Admin Home") {
@loggedInNavBar(siteName)
<div class="container roomForHeader">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header"></li>
						<li><a href="#sites">Sites</a></li>
						<li><a href="#pages">Pages</a></li>
						<li><a href="#page-widgets">Page widgets</a></li>
					</ul>
				</div>
			</div>
			<div class="span10">
				<div class="row-fluid" id="sites">
					<div class="span12">
						<div class="page-header">
							<h1>Sites</h1>&nbsp;<a href="#" data-bind="click: showNewSiteForm">New</a>
						</div>
						<div id="newSiteForm" data-bind="visible: siteFormVisible">
							<form class="form-horizontal" data-bind="submit: createNewSite">
								<div class="control-group">
									<label class="control-label" for="siteNameInput">Site name: </label>
									<div class="controls">
										<input type="text" id="siteNameInput" placeholder="site name"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="siteHostName">Domain name: </label>
									<div class="controls">
										<input type="text" id="siteHostName" placeholder="domain name"/>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn">Create</button>
									</div>
								</div>
								
							</form>
						</div>
						<div>
							<select data-bind="options: siteList,
												optionsText: 'siteName',
												value: currentSite,
												optionsCaption: 'Choose a site...'">
							</select>
						</div>
						<div data-bind="if:currentSite">Info about <span data-bind="text:currentSite().siteName"></div>
						<hr>
					</div>
				</div>
				<section class="row-fluid" id="pages">
					<div class="span12">
						<div class="page-header">
							<h1>Pages</h1>&nbsp;<a href="#">New</a>
						</div>
						<p>
							<select data-bind="options: pageList,
												optionsText: 'title',
												value: currentPage,
												optionsCaption: 'Choose a page...'">
							</select>
						</p>
						<p data-bind="if:currentPage">Info about <span data-bind="text:currentPage().title"></span></p>
						<hr>
					</div>
				</section>
				<section class="row-fluid" id="page-widgets">
					<div class="span12">
						<div class="page-header">
							<h1>Page widgets</h1>&nbsp;<a href="#">New</a>
						</div>
						<p>
							<select data-bind="options: widgetList,
												optionsText: 'id',
												value: currentWidget,
												optionsCaption: 'Choose a widget...'">
							</select>
						</p>
						<p data-bind="if:currentWidget"><span data-bind="text:currentWidget().id"></span></p>
						<hr>
					</div>
				</section>
			</div>
		</div>
		<hr>
		<footer>
			<p></p>
		</footer>
	</div>
</div>
}
<script type="text/javascript" src="@routes.Assets.at("javascripts/knockout/knockout-2.2.1.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/admin/admin.js")"></script>
