@(siteName: String)
<div class="navbar navbar-fixed-top">
	<div class="container">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	 <a class="navbar-brand" href="#">@siteName</a>
		<div class="nav-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#"><span class="glyphicon glyphicon-check"></span> Save</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Insert Widget <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" data-bind="foreach: widgetTypes">
						<li><a tabindex="-1" href="#" data-bind="text: widgetText,click:$parent.insertWidget"></a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Insert <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<li><a tabindex="-1" href="#" data-bind="click:insertHeader">Header (h4)</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>