@(title: String, siteId: Long, widgetIdsList: List[List[Long]], editing: Boolean = true)
@import views.html.sites.widgets._
@import models.widgets._
@import controllers._
@main(title){
@if(editing) {
	@views.html.loggedInNavBar(title)
}
<div class="container@if(editing){ roomForHeader}">
	<div class="row">
		<div class="col-lg-2">
			@views.html.sites.navigation(siteId)
		</div>
		<div class="col-lg-10">
			<div class="container" @if(editing){id="insertPoint" name="insertPoint"}>
				@widgetIdsList.map { theWidgets =>
				<div class="row">
					@theWidgets.map { theWidgetId =>
					<div class="col-lg-@(12/theWidgets.length)">
						@Widgets.getTheWidget(theWidgetId)
					</div>
					}
				</div>
				}
			</div>
		</div>
	</div>
	<hr>
	<footer>
		<p>&copy; Site Name 2013</p>
	</footer>
</div>
}