@(siteName: String, siteNav: List[models.pages.PageMongoWithId], pageMongo: models.pages.PageMongoWithId, isAdmin: Boolean = false)
@import views.html.sites.widgets._
@import models.pages._
@import models.widgets._
@import controllers._
@main(pageMongo.page.title, isAdmin){
@if(isAdmin) {
	@views.html.loggedInNavBar(siteName)
<div id="siteId-@(pageMongo.page.siteId)"></div>
<div id="pageId-@((pageMongo._id \ "$oid").as[String])"></div>
}
<div class="container@if(isAdmin){ roomForHeader}">
	<div class="row">
		<div class="col-lg-2">
			@views.html.sites.navigation(siteNav)
		</div>
		<div class="col-lg-10">
			<div class="container" @if(isAdmin){id="insertPoint"}>
				@pageMongo.page.rows.zipWithIndex.map { case(row, rowIndex) =>
				<div class="container">
					<div class="row" id="row@(rowIndex)">
						@row.columns.zipWithIndex.map { case(column, columnIndex) =>
						<div class="col-lg-@(12/row.columns.length)" id="column@(columnIndex)row@(rowIndex)">
							@views.html.sites.widgets.textWidget(column, isAdmin)
						</div>
						}
					</div>	
					@if(isAdmin) {
					<div data-bind="if:editing">
						<div class="row">
							<div class="col-lg-12">
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-default btn-mini" data-bind="click:function(){insertWidget(@(rowIndex))}"><span class="glyphicon glyphicon-plus"></span></button>
									<button type="button" class="btn btn-default btn-mini" data-bind="click:function(){removeRow(@(rowIndex))}"><span class="glyphicon glyphicon-minus"></span></button>
								</div>
							</div>
						</div>
					</div>
					}
				</div>
				}
			</div>
		</div>
	</div>
	<hr>
	<footer>
		<p>&copy; @siteName 2013</p>
	</footer>
</div>
}