@(siteId: Long, pageUri: String, isAdmin: Boolean = true)
@import views.html.sites.widgets._
@import models.pages.Page
@import models.widgets._
@import controllers._
@mainWrapperWithViewModel(""){
@if(isAdmin) {
	@views.html.loggedInNavBar("")
}
<div id="pageUri-@pageUri"></div>
<div id="siteId-@siteId"></div>
<div class="container@if(isAdmin){ roomForHeader}">
	<div class="row">
		<div class="col-lg-2">
			nav
		</div>
		<div class="col-lg-10">
			<div class="container" @if(isAdmin){id="insertPoint" name="insertPoint"} data-bind="with: pageObject">
				<div @if(isAdmin){id="rows"} class="container" data-bind="foreach: page().rows">
					<div data-bind="foreach: columns" class="row">
						<div class="col-lg-(12/columns.length)">
							<div class="textWidgetTextBox" data-bind="@if(isAdmin){attr:{'contenteditable':$root.editing()}, }editableText:columnHtml">
								
							</div>
						</div>
					</div>	
					@if(isAdmin) {
					<div data-bind="if:$root.editing">
						<div class="row">
							<div class="col-lg-12">
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-default btn-mini dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-edit"></span></button>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#" data-bind="text: 'Insert Column',click:function(data, event){$root.insertWidget(data)}"></a></li>
										<li><a tabindex="-1" href="#" data-bind="click:$root.insertHeader">Header (h4)</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
	<hr>
	<footer>
		<p>&copy; siteName 2013</p>
	</footer>
</div>
}