@(siteName: String, pageMongo: models.pages.PageMongoWithId, isAdmin: Boolean = false)
@import views.html.sites.widgets._
@import models.pages._
@main(pageMongo.page.title, isAdmin){
@if(isAdmin) {
	@views.html.loggedInNavBar(siteName)
<div id="siteId-@(pageMongo.page.siteId)"></div>
<div id="pageId-@((pageMongo._id \ "$oid").as[String])"></div>
}
<div @if(isAdmin){id="pageBody"} class="container@if(isAdmin){ roomForHeader}">
	<div class="container" @if(isAdmin){id="insertPoint"}>
	@rowsLoop(pageMongo.page.rows, isAdmin)
	</div>
</div>
}