@(rows: List[models.pages.Row], isAdmin: Boolean)
@import views.html.sites.widgets._
@import models.pages._
@rows.zipWithIndex.map { case(row, rowIndex) =>
<div class="container">
	<div class="row" id="row@(rowIndex)">
		@row.columns.zipWithIndex.map { case(column, columnIndex) =>
		<div class="col-lg-@(12/row.columns.length)" id="column@(columnIndex)row@(rowIndex)">
			@views.html.sites.widgets.textWidget(column.columnHtml.get, isAdmin)
		</div>
		}
	</div>	
	@if(isAdmin) {
		@rowEditFooter(rowIndex)
	}
</div>
}