@(rows: List[models.pages.Row], isAdmin: Boolean)
@import models.pages._
@rows.zipWithIndex.map { case(row, rowIndex) =>
<div class="container @if(isAdmin){rowSelector}">
	<div class="row" id="row@(rowIndex)">
		@row.columns.zipWithIndex.map { case(column, columnIndex) =>
			@column.rowsOption match {
				case Some(innerRows) => {@rowsLoop(innerRows, isAdmin)}
				case None => {
					<div class="col-lg-@(12/row.columns.length) @if(isAdmin){columnSelector}" id="column@(columnIndex)row@(rowIndex)">
						@views.html.sites.widgets.textWidget(column.columnHtml.get, isAdmin)
						@if(isAdmin) {
						<div class="columnButtons" data-bind="if:editing">
							<div class="row">
								<div class="col-lg-12">
									<div class="btn-group btn-group-xs">
										<button type="button" class="btn btn-default" data-bind="click:function(theViewModel, theEvent){addRow(theViewModel, theEvent)}">
											<span class="glyphicon glyphicon-plus"></span> Insert Row
										</button>
									</div>
								</div>
							</div>
						</div>
						}
					</div>
				}
			}
		}
	</div>
	@if(isAdmin) {
		@views.html.sites.rowEditFooter(rowIndex)
	}
</div>
}